// Footer
.footer{
  background: lighten($gray-darker,10%);
  color: $gray-light;
  text-align: center;
  padding: $margin-large;

  a{
    color: inherit;
  }
}

@include media-breakpoint-up('lg'){
  .nobr-lg{
    white-space: nowrap;
  }
}

.dialog-activated .navigation{
  z-index: 0;
}

