// ********
// HOMEPAGE
// ********

.home{
  section{
    padding: $margin-large;

    // Intro
    &#intro{
      p{
        font-size: $font-size-large;
        font-family: $font-family-secondary;
        text-align: center;
      }
    }

    // Expertise
    &#expertise{
      h1,h2,h3,h4,h5,h6{
        text-align: center;
      }

      span.icon{
        &:before{
          content: "";
          display: block;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          background-color: $color-secondary;
        }
      }

      #design .icon:before{
        mask: url(../img/icons/icons_palette.svg) no-repeat 50% 50%;
        -webkit-mask: url(../img/icons/icons_palette.svg) no-repeat 50% 50%;
      }

      #ux .icon:before{
        mask: url(../img/icons/icons_user.svg) no-repeat 50% 50%;
        -webkit-mask: url(../img/icons/icons_user.svg) no-repeat 50% 50%;
      }

      #code .icon:before{
        mask: url(../img/icons/icons_code.svg) no-repeat 50% 50%;
        -webkit-mask: url(../img/icons/icons_code.svg) no-repeat 50% 50%;
      }
    }

    // Work
    &#work{
      background: $gray-lighter;

      a:not(.btn){
        text-shadow: -#{$border-width} $border-width 0px $gray-lighter, $border-width $border-width 0px $gray-lighter;
      }

      &, div:not(.row.row-work){
        h1,h2,h3,h4,h5,h6{
          text-align: center;
        }
      }

      .row.row-work{
        padding: $margin-large;
      }

      .btn-wrapper{
        width: 100%;

        .btn{
          margin: 0 auto;
        }
      }

      .tags{
        color: $gray-dark;

        .tag:before{
          content: "\2022";
          padding-right: $border-width*2;
          color: $color-secondary;
        }
      }
    }

    // Contact
    &#contact{
      background: $color-primary;
      color: $background-color;
    }

    // Footer
    &#footer{
      background: lighten($gray-darker,10%);
      color: $gray-light;
      text-align: center;

      a{
        color: inherit;
      }
    }
  }
}

