// ********
// HOMEPAGE
// ********

.home{
  nav.navigation{
    position: absolute;

    .container{
      z-index: 1;
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;
      min-height: 200px;
      max-height: 25vh;
      background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
  }
  section{
    padding: $margin-large;

    // Intro
    &#intro{
      position: relative;
      overflow: hidden;
      color: #fff;
      padding: split-values($margin-large,vertical)*4 split-values($margin-large,vertical) split-values($margin-large,vertical);
      min-height: 75vh;

      p{
        font-size: $font-size-large;
        font-family: $font-family-secondary;
        text-align: center;
      }

      .video-bg{
        background-size: cover;
        
        &,video{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
          min-height: 75vh;
        }

        @include media-breakpoint-down('md'){
          top: 0;

          video{
            display: none;
          }
        }
      }
    }

    // Expertise
    &#expertise{
      h1,h2,h3,h4,h5,h6{
        text-align: center;
      }

      span.icon{
        &:before{
          content: "";
          display: block;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          background-color: $color-secondary;
        }
      }

      #design .icon:before{
        mask: url(../img/icons/icons_palette.svg) no-repeat 50% 50%;
        -webkit-mask: url(../img/icons/icons_palette.svg) no-repeat 50% 50%;
      }

      #ux .icon:before{
        mask: url(../img/icons/icons_user.svg) no-repeat 50% 50%;
        -webkit-mask: url(../img/icons/icons_user.svg) no-repeat 50% 50%;
      }

      #code .icon:before{
        mask: url(../img/icons/icons_code.svg) no-repeat 50% 50%;
        -webkit-mask: url(../img/icons/icons_code.svg) no-repeat 50% 50%;
      }
    }

    // Work
    &#work{
      background: $gray-lighter;

      a:not(.btn){
        text-shadow: -#{$border-width} $border-width 0px $gray-lighter, $border-width $border-width 0px $gray-lighter;
      }

      &, div:not(.row.row-work){
        h1,h2,h3,h4,h5,h6{
          text-align: center;
        }
      }

      .row.row-work{
        padding: $margin-large;

        @include media-breakpoint-down('sm'){
          padding: $padding-base;
          margin-bottom: split-values($margin-large,vertical);
          
          [class^="col"]:first-child{
            margin-bottom: split-values($margin-base,vertical);
          }
        }
      }

      .btn-wrapper{
        width: 100%;

        .btn{
          margin: 0 auto;
        }

        @include media-breakpoint-down('sm'){
          text-align: center;
        }
      }

      .tags{
        color: $gray-dark;

        .tag:before{
          content: "\2022";
          padding-right: $border-width*2;
          color: $color-secondary;
        }
      }
    }

    // Contact
    &#contact{
      background: $color-primary;
      color: $background-color;
    }
  }
}

