.work{
  article,.article{
    margin: split-values($margin-large,vertical) auto;
  }

  section,.section{
    padding: split-values($padding-large,vertical) 0;
  }

  .double-img{
    @extend .container;

    .double-img-row{
      @extend .row;
    }

    .double-img-item{
      @include make-col(6);

      img{
        @extend .img-responsive;
      }
    }

    @include media-breakpoint-down('sm'){
      .double-img, .double-img-row, .double-img-item{
        display: block;
        max-width: 100%;
        @include make-col-ready();
      }

      .double-img-item{
        &:first-child{
          margin-bottom: split-values($margin-base,vertical);
        }
      }
    }
  }

  .explainer{
    @extend .container;

    .explainer-content{
      @extend .row;
    }

    .explainer-heading{
      @include make-col(3);

      &:before{
        content: "";
        display: block;
        width: 25%;
        height: $border-width;
        margin-top: 0.5em;
        background: $border-color-table;
      }

      > *:first-child{
        text-transform: uppercase;
        font-size: $font-size-small;
        color: $gray-light;
      }

      > *:nth-child(2){
        font-size: $font-size-base;
      }
      
    }

    .explainer-details{
      @include make-col(9);

      // Align first child with top
      > *:first-child{
        margin-top: 0;
        padding-top: 0;
      }
    }

    @include media-breakpoint-down('sm'){
      .explainer-content,.explainer-heading,.explainer-details{
        display: block;
        max-width: 100%;
        @include make-col-ready();
      }

      .explainer-heading,.explainer-details{
        padding-left: split-values($padding-base,horizontal);
        padding-right: split-values($padding-base,horizontal);
      }
    }
  }
}

.works{
  .works-wrapper{
    margin: split-values($margin-large,vertical) auto;

    .row-work{
      margin-bottom: split-values($margin-large,vertical);
    }
  }
}

.work,.works{
  .tags{
    color: $gray-dark;

    .tag:before{
      content: "\2022";
      padding-right: $border-width*2;
      color: $color-secondary;
    }
  }
}