nav.navigation{
  // Variables
  $nav-trigger-computed-width:   $nav-trigger-width + $nav-trigger-spacing*2;
  $nav-trigger-computed-height:  $nav-trigger-weight*3 + $nav-trigger-spacing*4;
  $nav-trigger-padding: ceil(($nav-trigger-computed-width - $nav-trigger-computed-height)/2);

  width: 100%;
  position: relative;

  .container{
    position: relative;
  }

  // Set Z-Index
  .nav-menu{    z-index: 4000; }
  .nav-trigger{ z-index: 5000; }

  // Nav Menu
  .nav-menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: $margin-large 0;
    text-align: center;
    background-color: transparent;
    font-family: $nav-menu-font-family;
    font-size: $nav-menu-font-size;
    color: $nav-menu-link-color;

    h1,h2,h3,h4,h5,h6{
      font-family: inherit;
    }

    ul,li{
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;

      &,a,a:visited{
        color: $nav-menu-link-color;
        text-shadow: none;

        &:after{
          display: none;
        }
      }
    }
  }

  // Menu Trigger
  .nav-trigger{
    border: none;
    background-color: transparent;
    padding: $nav-trigger-padding $nav-trigger-spacing;
    position: absolute;
    top: 0;
    right: 0;

    &:hover{
      cursor: pointer;
    }

    .line{
      width: $nav-trigger-width;
      height: $nav-trigger-weight;
      background-color: $nav-trigger-color;
      display: block;
      margin: $nav-trigger-spacing auto;
    }
  }
  
  // Active State, Menu
  &.open{
    // Nav Menu
    .nav-menu{
      visibility: visible;
      opacity: 1;
      overflow: hidden;
      background-color: $nav-menu-bg;
    }

    // Nav Trigger
    .nav-trigger {
      border-radius: 50%;
      background: $nav-trigger-open-bg;
      padding: $nav-trigger-padding $nav-trigger-spacing;

      .line{
        // Translate amount
        $translateY: $nav-trigger-spacing + $nav-trigger-weight; // Set to 0: Trigger spacing * 3, Half of the weight
        
        background-color: $nav-trigger-open-color;

        &:nth-child(1){
          -webkit-transform: translateY($translateY) rotate(45deg);
          -ms-transform: translateY($translateY) rotate(45deg);
          -o-transform: translateY($translateY) rotate(45deg);
          transform: translateY($translateY) rotate(45deg);
        }

        &:nth-child(2){
          opacity: 0;
        }

        &:nth-child(3){
          -webkit-transform: translateY(-#{$translateY}) rotate(-45deg);
          -ms-transform: translateY(-#{$translateY}) rotate(-45deg);
          -o-transform: translateY(-#{$translateY}) rotate(-45deg);
          transform: translateY(-#{$translateY}) rotate(-45deg);
        }
      }
    }

    // Animations
    .nav-menu,
    .nav-trigger .line{
      -webkit-transition: all $transition-timing $transition-timing-function;
      -o-transition: all $transition-timing $transition-timing-function;
      transition: all $transition-timing $transition-timing-function;
    }
  }

  // For mobile
  @include media-breakpoint-up('xs'){
    .nav-trigger{
      margin: -#{$nav-trigger-spacing};
    }
  }
}