<div id="contactDialog" class="dialog">
    <div class="dialog__overlay"></div>
    <div class="dialog__content">
        <div class="dialog__header">
        <button class="btn btn-close" data-dialog-close aria-label="Close dialog">
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <h2>Contact Meghan</h2>
        </div>
        <div class="dialog__body contact__body">
            <p>Please feel free to reach out through any of the following channels!</p>
            <ul>
                <li><a href="mailto:meghan.leigh.horton@gmail.com" rel="nofollow"><span class="zmdi zmdi-email"></span>meghan.leigh.horton@gmail.com</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/meghanhorton/" rel="nofollow"><span class="zmdi zmdi-linkedin"></span>meghanhorton</a></li>
                <li><a target="_blank" href="https://github.com/meghanhorton/" rel="nofollow"><span class="zmdi zmdi-github"></span>meghanhorton</a></li>
            </ul>
        </div>
    </div>
</div>