{% assign item = include.item %}
{% assign img = '' %}

{% if item.img.src %}
  {% capture img %}
    <img class="img-responsive" src="{{ site.baseurl }}{{ item.img.src }}" alt="{{ item.img.alt }}">
  {% endcapture %}
{% elsif include.placeholder == true %}
  {% capture img %}
    <img class="img-responsive" src="{{ site.baseurl }}/assets/img/posts/placeholder.jpg">
  {% endcapture %}
{% endif %}

{% if include.link == true %}
  <!-- IMG WITH LINK -->
  <a class="img" href="{{ item.url }}">{{ img }}</a>
  <!-- // IMG WITH LINK -->
{% elsif item.img.caption and include.caption %}
  <!-- IMG WITH CAPTION -->
  <figure class="img-figure">
    {{ img }}
    <caption>{{ item.img.caption }}</caption>
  </figure>
  <!-- // IMG WITH CAPTION -->
{% else %}
  <!-- IMG -->
  {{ img }}
  <!-- // IMG -->
{% endif %}