<nav id="navigation" class="navigation">
  <a class="sr-only" href="#main" aria-label="Skip to main content">Skip to main content</a>

  <div class="container">
    <a class="nav-brand" title="Meghan Horton" aria-label="Meghan Horton" href="{{ site.baseurl }}/">
      {% include svg/meghanhorton.svg %}
      <span class="sr-only">Meghan Horton | Portfolio</span>
    </a>

    <button id="nav-trigger" class="nav-trigger" aria-label="Toggle Navigation" data-target="#navigation">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>

    <div class="nav-menu">
      <!-- <span class="h4">{{ site.data.nav.title }}</span> -->
      <ul class="nav-items">
        {% for nav-item in site.data.nav.items %}
          <li>
            <a href="{{ site.baseurl }}{{ nav-item.url }}">
              {{ nav-item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

