<!-- Pagination links -->

<div class="pagination">
  <!-- First page -->
  {% if paginator.page != 1 %}
    <a href="{{ site.baseurl }}/blog/1" class="first"><span class="sr-only">First page</span></a>
  {% else %}
    <span class="first"><span class="sr-only">First page</span></span>
  {% endif %}

  <!-- Previous link or disabled text -->
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><span class="sr-only">Previous</span></a>
  {% else %}
    <span class="previous"><span class="sr-only">Previous</span></span>
  {% endif %}

  <!-- Page numbers -->
  <span class="page_number"><span class="page">{{ paginator.page }}</span> of <span class="total">{{ paginator.total_pages }}</span></span>

  <!-- Next link or disabled text -->
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><span class="sr-only">Next</span></a>
  {% else %}
    <span class="next"><span class="sr-only">Next</span></span>
  {% endif %}

  <!-- Last page -->
  {% if paginator.page != paginator.total_pages %}
    <a href="{{ site.baseurl }}/blog/{{ paginator.total_pages }}" class="last"><span class="sr-only">Last page</span></a>
  {% else %}
    <span class="last"><span class="sr-only">Last page</span></span>
  {% endif %}
</div>