{% assign projectLoop =  site.work | sort: 'weight' %}

{% for project in projectLoop %}

{% capture thecycle %}{% cycle 'odd','even' %}{% endcapture %}

{% capture col-title %}
  <h3>{{ project.title }}</h3>
  <h4 class="tags small">{% include loops/tags.html tags=project.tags %}</h4>
  <p>{{ project.content }}</p>
  <div class="btn-wrapper">
    <a href="{{ project.url }}" class="btn btn-outline btn-inline" aria-label="Button linking to {{ project.title }}">{{ project.cta }}</a>
  </div>
{% endcapture %}

{% capture col-img %}
  <a class="img" href="{{ project.url }}" aria-label="Image linking to {{ project.title }}" aria-hidden="true">
    <img class="img-responsive" src="{{ site.baseurl }}{{ project.img.src }}" alt="{{ project.img.alt }}">
  </a>
{% endcapture %}

<!-- project: {{ project.title }} -->
<div class="row row-work">
  <div class="col-md-6{% if thecycle == 'even' %} push-md-6{% endif %}">
    {{ col-title }}
  </div>
  <div class="col-md-6{% if thecycle == 'even' %} pull-md-6{% endif %}">
    {{ col-img }}
  </div>
</div>
<!-- // project: {{ project.title }} -->
{% endfor %}

